* {
    font-family: "Nanum Myeongjo", serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#263128, #2f452d);
    overflow-x: hidden;
}

.background {
    background-image: url(Assets/background.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 110vh;
}

.header {
    display: flex;
    align-items: center;
    width: 20vw;
}

.logo {
    display: flex;
    align-items: center; 
    width: auto; 
    height: 100%; 
}

.logo img {
    width: 75px; 
    height: auto;
}

.line {
    display: flex;
    align-items: center;
    width: 15%;
}

.line a {
    padding-left: 5px;
    border-left: white solid 1px;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.navbar-container {
    opacity: 1;
    position: fixed;
    background-color: rgba(41, 57, 49, 0.85);
    backdrop-filter: blur(25px);
    display: flex;
    width: 100%;
    height: 6vh;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.navbar {
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.navbar a {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.navbar-click{
    display: none;
}

.bar {
    display: none;
    position: fixed;
    top: 20px;
    right: 40px;
    background-color: transparent; 
    border: none;
    cursor: pointer; 
    padding: 0; 
}

.bar img {
    display: none;
    width: 24px; 
    height: 24px;
}

.home::before {
    content: "";
    position: absolute;
    top: 70%;
    left: 29%;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 50px;
    background-color: white;
    transition: 0.5s ease-out;
}

.home:hover::before {
    width: 4.5%;
}

.character::before {
    content: "";
    position: absolute;
    top: 70%;
    left: 41.3%;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 50px;
    background-color: white;
    transition: 0.5s ease-out;
}

.character:hover::before {
    width: 6.3%;
}

.dragon::before {
    content: "";
    position: absolute;
    top: 70%;
    left: 55%;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 50px;
    background-color: white;
    transition: 0.5s ease-out;
}

.dragon:hover::before {
    width: 8%;
}

.isle::before {
    content: "";
    position: absolute;
    top: 70%;
    left: 70%;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 50px;
    background-color: white;
    transition: 0.5s ease-out;
}

.isle:hover::before {
    width: 8.5%;
}

.register::before {
    content: "";
    position: absolute;
    top: 70%;
    left: 85.2%;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 50px;
    background-color: white;
    transition: 0.5s ease-out;
}

.register:hover::before {
    width: 6%;
}

.character-container{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 85vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.character-container p{
    color: white;
    font-size: 50px;
}

.character-list {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 2%;
    margin-top: 5%; 
}

.character-list button {
    background: none;
    border: none; 
    padding: 0; 
    cursor: pointer; 
    width: 15vw;
    height: auto;
}

.character-list img {
    width: 100%; 
    height: auto; 
    transition: transform 0.2s;
}

.character-list button img:hover {
    transform: scale(1.1);
}

.archer-detail{
    align-items: center;
    justify-content: center;
    display: none;
}

.archer-detail img{ 
    position: absolute;
    top: 8%;
    width: 100vw;
    height: 100%;
}

.archer-text{
    top: 15%;
    position: absolute;
    width: 100vw;
    height: 85%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.archer-text p{
    text-align: left;
    color: black;
    font-size: 70px;
    margin-left: 20%;
    letter-spacing: 5px;
}

.archer-text p1{
    font-size: 30px;
    margin-top: -1%;
    margin-left: 24%;
    letter-spacing: 5px;
}

.archer-text span{
    width: 55%;
    max-height: 80%;
    margin-top: 1%;
    margin-left: 5%;
}

.back-archer{
    display: flex;
    top: 10px; 
    right: 10px; 
    cursor: pointer; 
}

.back-archer img{
    width: 10%;
    height: 15%;
    right: 3%;
    top: 12%;
    opacity: 0.8;
    z-index: 100;
}

.assasin-detail{
    align-items: center;
    justify-content: center;
    display: none;
}

.assasin-detail img{
    position: absolute;
    top: 8%;
    width: 100vw;
    height: 100%;
}

.assasin-text{
    top: 15%;
    position: absolute;
    width: 100vw;
    height: 85%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.assasin-text p{
    text-align: left;
    color: black;
    font-size: 70px;
    margin-left: 20%;
    letter-spacing: 5px;
}

.assasin-text p1{
    font-size: 30px;
    margin-top: -1%;
    margin-left: 22%;
    letter-spacing: 5px;
}

.assasin-text span{
    width: 55%;
    max-height: 80%;
    margin-top: 1%;
    margin-left: 5%;
}

.back-assasin{
    display: flex;
    top: 10px; 
    right: 10px; 
    cursor: pointer; 
}

.back-assasin img{
    width: 10%;
    height: 15%;
    right: 4%;
    top: 14%;
    opacity: 0.8;
    z-index: 100;
}

.barbarian-detail{
    align-items: center;
    justify-content: center;
    display: none;
}

.barbarian-detail img{
    position: absolute;
    top: 8%;
    width: 100vw;
    height: 100%;
}

.barbarian-text{
    top: 15%;
    position: absolute;
    width: 100vw;
    height: 85%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.barbarian-text p{
    text-align: left;
    color: black;
    font-size: 70px;
    margin-left: 20%;
    letter-spacing: 5px;
}

.barbarian-text p1{
    font-size: 30px;
    margin-top: -1%;
    margin-left: 22%;
    letter-spacing: 5px;
}

.barbarian-text span{
    width: 50%;
    max-height: 80%;
    margin-top: 1%;
    margin-left: 5%;
}

.back-barbarian{
    display: flex;
    top: 10px; 
    right: 10px; 
    cursor: pointer; 
}

.back-barbarian img{
    width: 10%;
    height: 15%;
    right: 4%;
    top: 14%;
    opacity: 0.8;
    z-index: 100;
}

.warrior-detail{
    align-items: center;
    justify-content: center;
    display: none;
}

.warrior-detail img{
    position: absolute;
    top: 8%;
    width: 100vw;
    height: 100%;
}

.warrior-text{
    top: 15%;
    position: absolute;
    width: 100vw;
    height: 85%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.warrior-text p{
    text-align: left;
    color: black;
    font-size: 70px;
    margin-left: 20%;
    letter-spacing: 5px;
}

.warrior-text p1{
    font-size: 30px;
    margin-top: -1%;
    margin-left: 22%;
    letter-spacing: 5px;
}

.warrior-text span{
    width: 50%;
    max-height: 80%;
    margin-top: 4%;
    margin-left: 5%;
}

.back-warrior{
    display: flex;
    top: 10px; 
    right: 10px; 
    cursor: pointer; 
}

.back-warrior img{
    width: 10%;
    height: 15%;
    right: 4%;
    top: 14%;
    opacity: 0.8;
    z-index: 100;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -24%;
    width: 100%;
    height: 14vh;
    background-color: #2C3F2B;
}

.footer-container p {
    color: white;
    text-align: center;
    margin-left: 3%;
    margin-top: 1%;
    font-size: 20px;
}

.social-media {
    margin-top: 1%;
    margin-right: 3%;
}

.social-media img {
    padding-left: 50px;
}

@media screen and (max-width: 1049px) {
    .warrior-text span{
        font-size: 12px;
        width: 55%;
        max-height: 80%;
        margin-top: 6%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 976px) {
    .barbarian-text span{
        font-size: 12px;
        width: 55%;
        max-height: 80%;
        margin-top: 6%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 820px) {
    .header {
        display: flex;
        align-items: center;
        width: 20vw;
    }

    .logo {
        display: flex;
        align-items: center; 
        width: auto; 
        height: 100%; 
    }

    .logo img {
        width: 75px; 
        height: auto;
    }

    .line {
        display: flex;
        align-items: center;
        width: 15%;
    }

    .line a {
        padding-left: 5px;
        border-left: white solid 1px;
        text-decoration: none;
        color: white;
        font-size: 25px;
    }

    .navbar-container{
        height: 10%;
        padding: 0;
    }
    
    .navbar {
        display: none;
    }
    
    .navbar-click{
        display: none;
        position:absolute;
        top: 100%;
        left: 0; 
        width: 100vw; 
        height: 100vh; 
        background-color: rgba(44, 63, 43, 0.9);
    }

    .navbar-click a{
        display: block;
        padding-top: 10%;
        text-align: center; 
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        color: white;
    }
    
    .navbar-click.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bar {
        display: inline-block;
        background-color: transparent; 
        border: none;
        cursor: pointer; 
        padding: 0; 
    }
    
    .bar img {
        display: inline-block;
        width: 24px; 
        height: 24px;
    }

    .home::before,
    .character::before,
    .dragon::before,
    .isle::before,
    .register::before {
        display: none;
    }

    .home:hover::before,
    .character:hover::before,
    .dragon:hover::before,
    .isle:hover::before,
    .register:hover::before {
        display: none;
    }

    .character-container{
        top: 28%;
    }

    .character-container p{
        text-align: center;
    }
    
    .archer-text p{
        text-align: left;
        color: black;
        font-size: 30px;
        margin-left: 20%;
        margin-top: 2%;
        letter-spacing: 5px;
    }
    
    .archer-text p1{
        font-size: 10px;
        margin-left: 23%;
        letter-spacing: 5px;
    }
    
    .archer-text span{
        font-size: 13px;
        width: 55%;
        max-height: 80%;
        margin-top: 6%;
        margin-left: 5%;
    }

    .assasin-text p{
        text-align: left;
        color: black;
        font-size: 30px;
        margin-left: 20%;
        margin-top: 2%;
        letter-spacing: 5px;
    }
    
    .assasin-text p1{
        font-size: 10px;
        margin-left: 22%;
        letter-spacing: 5px;
    }
    
    .assasin-text span{
        font-size: 13px;
        width: 55%;
        max-height: 80%;
        margin-top: 6%;
        margin-left: 5%;
    }
    
    .barbarian-text p{
        text-align: left;
        color: black;
        font-size: 30px;
        margin-left: 20%;
        margin-top: 2%;
        letter-spacing: 5px;
    }
    
    .barbarian-text p1{
        font-size: 10px;
        margin-left: 21%;
        letter-spacing: 5px;
    }
    
    .barbarian-text span{
        font-size: 13px;
        width: 55%;
        max-height: 80%;
        margin-top: 6%;
        margin-left: 5%;
    }

    .warrior-text p{
        text-align: left;
        color: black;
        font-size: 30px;
        margin-left: 18%;
        margin-top: 2%;
        letter-spacing: 5px;
    }
    
    .warrior-text p1{
        font-size: 10px;
        margin-left: 22%;
        letter-spacing: 5px;
    }
    
    .warrior-text span{
        font-size: 13px;
        width: 52%;
        max-height: 80%;
        margin-top: 9%;
        margin-left: 3%;
    }


    .footer-container {
        flex-direction: column;
        align-items: center;
        height: 24vh;
        top: 110%;
        z-index: 999;
    } 
}

@media screen and (max-width: 546px){
    .archer-text span{
        font-size: 12px;
        width: 55%;
        max-height: 80%;
        margin-top: 6%;
        margin-left: 5%;
    }

    .assasin-text span{
        font-size: 12px;
        width: 55%;
        max-height: 80%;
        margin-top: 6%;
        margin-left: 5%;
    }

    .warrior-text span{
        font-size: 12px;
        width: 52%;
        max-height: 80%;
        margin-top: 9%;
        margin-left: 3%;
    }
}

@media screen and (max-width: 500px) {
    .character-container p{
        font-size: 40px;
    }

    .character-list{
        width: 100%;
        height: auto;
    }

    .character-list {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        justify-content: center; 
    }

    .character-list button {
        width: 20%; 
        margin: 1%; 
    }

    .archer-text span{
        font-size: 12px;
        width: 55%;
        max-height: 80%;
        margin-top: 6%;
        margin-left: 5%;
    }

    .assasin-text span{
        font-size: 11px;
        width: 55%;
        max-height: 80%;
        margin-top: 6%;
        margin-left: 5%;
    }

    .barbarian-text span{
        font-size: 11px;
        width: 55%;
        max-height: 80%;
        margin-top: 6%;
        margin-left: 5%;
    }

    .warrior-text span{
        font-size: 11px;
        width: 52%;
        max-height: 80%;
        margin-top: 9%;
        margin-left: 3%;
    }
}

@media screen and (max-width: 408px) {
    
    .archer-text span{
        font-size: 10px;
        width: 55%;
        max-height: 80%;
        margin-top: 6%;
        margin-left: 5%;
    }
    
}